   <%= render "layouts/jumbotron" %>
    <% product = @products.shuffle%> 
            <% product.each do |product| %>
            <div class="col-md-3 col-sm-6 hero-feature" style="height: 450px">
                <div class="thumbnail" >
                    <img src= <%= "http:" + product.image_url %> style="height: 200px" >
                    <div class="caption">

                        <h3 style="height: 75px"><%= product.description %></h3>
                        <p> <%= product.brand %> </p>
                        <p> <%= product.store %> </p>

                        <p>
                            <% unless current_user?(@user) %>
                                  <div id="follow_form">
                                  <% if current_user.favorited?(product) %>
                                    <%= form_for(current_user.favorites.find_by(product_id: product.id),
                                                     html: { method: :delete }) do |f| %>
                                          <%= f.submit "Unfollow", class: "btn btn-warning" %>
                                          &nbsp;
                                          <div align="center">    
                                            <a href=  <%= "http://www.ceratoboutique.com" + product.destination_url %> class="btn btn-default">More Info</a>
                                          </div>
                                        <% end %>
                                  <% else %>
                                    <%= form_for(current_user.favorites.build(product_id: product.id)) do |f| %>
                                         <div> <%= f.hidden_field :product_id %> </div>
                                         <%= f.submit "Follow", class: "btn btn-success" %>
                                         &nbsp; 
                                         <div align="center">   
                                          <a href=  <%= "http://www.ceratoboutique.com" + product.destination_url %> class="btn btn-default">More Info</a>
                                     </div>
                                <% end %>
                                  <% end %>
                                  </div>
                                <% end %>
                            
                        </p>
                        <% if not signed_in? %>  
                            <div align="center">  
                            <a href=  <%= signin_path %> class="btn btn-success">Follow</a>  
                            <%= link_to "More Info", product_path(product) %> 
                            <%= @url.inspect %>
                            </div>
                        <% end %>
                    </div>
                </div>
            </div>
        <%end%>



