 <nav class="navbar-fixed-top navbar-default " role= "navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <%= link_to(image_tag("logo.png"))%>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
         
                <span class="nav navbar-nav">
                    <li>
                         <%= link_to "Home", products_path %>
                    </li>

                    <li>
                        <a href="#">Services</a>
                    </li>

                    <% if signed_in? %> 

                    <li>
                        <%= link_to "Sign out", signout_path, method: "delete" %>
                    </li>

                    <li>
                        <%= link_to "Profile", current_user %>
                    </li>

                    <li>
                        <a> Following <div class="badge"> <%= @signed_in.products.count %>  </div></a>

                    </li>

                    </span>

        

                    <% if @url.present?%> 

                        <% if current_user.favorited?(@product) %>

                                       
                                    <%= form_for(current_user.favorites.find_by(product_id: @product.id),
                                                     html: { method: :delete }) do |f| %>
                                          <%= f.submit "Unfollow", class: "btn btn-warning" %>
                                     
                                        <% end %>
                        
                        <% else %>
                                       
                                    <%= form_for(current_user.favorites.build(product_id: @product.id)) do |f| %>
                                         <%= f.hidden_field :product_id %> 
                                         <%= f.submit "Follow", class: "btn btn-success" %>
                    
                                    <% end %>

                                <% end %>
                        
                            <% end %>
                    <% end %> 


                  

    </nav>