 <% shuffle = @products.sample %>
    <nav class="navbar-fixed-top navbar-default " role= "navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <%= link_to(image_tag("logo.png"))%>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->

              <span class="btn pull-right" width= "90%">

                        <%= link_to "Explore", product_path(shuffle), class: "btn btn-default navbar-btn " %>

                <% if @url.present?%> 

                        <%= link_to "Follow", signin_path, class: "btn btn-success" %>

                <% end %>
                  
                    </span>

                <span class="nav navbar-nav">                   
                    
                    <li>
                         <%= link_to "Home", products_path %>
                    </li>

                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                      </ul>
                    </li>

                    <% if signed_in? %> 

                    <li>
                        <%= link_to "Sign out", signout_path, method: "delete" %>
                    </li>

                    <li>
                        <%= link_to "Profile", current_user %>
                    </li>

                    <li>
                        <a> Following <div class="badge"> <%= @signed_in.products.count %>  </div></a>

                    </li>


                    </span>

                  
        

                    <% if @url.present?%> 
                       
                        <% if current_user.favorited?(@product) %>
                                       
                                    <%= form_for(current_user.favorites.find_by(product_id: @product.id),
                                                     html: { method: :delete }) do |f| %>
                                          <%= f.submit "Unfollow", class: "btn btn-warning" %>
                                     
                                        <% end %>
                        
                        <% else %>
                                       
                                    <%= form_for(current_user.favorites.build(product_id: @product.id)) do |f| %>
                                         <%= f.hidden_field :product_id %> 
                                         <%= f.submit "Follow", class: "btn btn-success" %>
                    
                                    <% end %>

                                <% end %>
                        
                            <% end %>
                    <% end %> 
            

    </nav>