<!DOCTYPE html>
<html>
<head>

<html dir="ltr" lang="en-US" class="no-js">
<!--<![endif]-->	
  <title>Boomtownrack</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>



    <!-- Custom CSS -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</script>
</head>

<body>
    <%= debug(params) if Rails.env.development? %>
    <%= render "layouts/navbar" %>
     <!-- Navigation -->
        <!-- /.container -->

        <div class="container">


            <%= yield %>
                
        </div>

        <!-- /.container -->
        <hr>
    <!-- Footer -->
        <footer>
                <div class="col-lg-12">
                    <p>Copyright &copy; Boomtownrack.com 2014</p>
                </div>
        </footer>



    <!-- /.container -->

 </body>

</html>