<!DOCTYPE html>
<html>
<head>

<html dir="ltr" lang="en-US" class="no-js">
<!--<![endif]-->	
  <title>Boomtownrack</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>



    <!-- Custom CSS -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</script>
</head>

<body>
    <%= render "layouts/navbar" %>
     <!-- Navigation -->
        <!-- /.container -->

        <div class="container">
            <%= render "layouts/jumbotron" %>

        <div class="row">

            <div class="col-md-3">
                <div class="list-group">
                    <a class="list-group-item" <%= link_to 'Accessories', category_accessories_path %> </a>
                    <a class="list-group-item" <%= link_to 'Dresses', category_dresses_path %> </a>
                    <a class="list-group-item" <%= link_to 'Jewelry', category_jewelry_path %> </a>
                    <a class="list-group-item" <%= link_to 'Pants', category_pants_path %> </a>
                    <a class="list-group-item" <%= link_to 'Sweaters', category_sweaters_path %> </a>
                    <a class="list-group-item" <%= link_to 'Tops', category_tops_path %> </a>
                </div>
            </div>

            <div class="col-md-9">

               
    <%= yield %>

</div>
<!-- /.container -->

    <div class="container">

        <hr>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Your Website 2014</p>
            </div>
        </div>
    </footer>

    </div>
    <!-- /.container -->

 </body>

</html>